<template name="interface">
	<div class="shell-container">
		<div ref={{containerRef}} class="overflow-y-auto h-full ">
			{{#if hasUsername}}
				{{> history}}
				{{> input}}
			{{else}}
				<div class="output-text">{{LOGIN_BANNER}}</div>
				<div class="flex flex-row">
				   <label htmlFor="prompt" className="flex-shrink">
						<span class="grey">{{LOGIN_PROMPT}}</span>
						<span class="green">❯&nbsp;</span>
				   </label>
					<input id="prompt" type="text" class="input-login flex-grow" autofocus="" autocomplete="off" spellcheck="false" value="">
				</div>
			{{/if}}
		</div>
	</div>
</template>
