@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hack';
  src: url(/assets/fonts/Hack-NF.ttf);
  display: swap;
}

* {
  font-family: 'Hack', monospace;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #FFFFFF11;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #FFFFFF33;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFFFFF99;
}

a {
  border-bottom-width: 1px;
  text-decoration: none;
  border-style: dotted;
}